<!-- Header -->
<header class="primary-header container group">
  <h1 class="logo">
    <%= link_to 'Public Transit', root_path %>
  </h1>

  <h3 class="tagline">City of Berkeley, CA</h3>

  <nav class="nav primary-nav">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <br>

      </br>
    </ul>
  </nav>
</header>