<!-- Header -->
<header class="primary-header container group">
  <h1 class="logo">
    <a href="index.html.erb">Public <br> Transit</a>
  </h1>

  <h3 class="tagline">City of Berkeley, CA</h3>

  <nav class="nav primary-nav">
    <ul>
      <li><a href="index.html.erb">Home</a></li>
    </ul>
  </nav>
</header>